*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#0b1120;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
}

.custom-navbar{
    background:rgba(0,0,0,0.3);
    backdrop-filter:blur(10px);
}

.hero{

    min-height:100vh;

    display:flex;

    align-items:center;

    justify-content:center;

    background:
    linear-gradient(
    -45deg,
    #0f172a,
    #1e1b4b,
    #312e81,
    #581c87
    );

    background-size:
    400% 400%;

    animation:
    gradientMove
    12s ease infinite;
}

@keyframes gradientMove{

    0%{
        background-position:0% 50%;
    }

    50%{
        background-position:100% 50%;
    }

    100%{
        background-position:0% 50%;
    }
}

.typing-text{
    color:#60a5fa;
    margin-top:20px;
}

.hero-description{
    font-size:1.2rem;
    color:#cbd5e1;
    margin-top:20px;
}

.btn{
    transition:0.3s;
}

.btn:hover{
    transform:translateY(-4px);
}

.section-title{
    text-align:center;
    margin-bottom:40px;
    font-size:2.5rem;
}

.about-text{
    max-width:900px;
    margin:auto;
    text-align:center;
    color:#cbd5e1;
    font-size:1.1rem;
    line-height:1.8;
}

.skill-card,
.project-card,
.timeline-card,
.contact-card{

    background:rgba(255,255,255,0.05);

    border:1px solid rgba(255,255,255,0.1);

    border-radius:20px;

    padding:30px;

    backdrop-filter:blur(10px);

    transition:0.4s;
}

.skill-card:hover,
.project-card:hover{

    transform:translateY(-10px);

    box-shadow:
    0 10px 30px
    rgba(96,165,250,0.3);
}

.timeline-card{
    max-width:900px;
    margin:auto;
}

.contact-card{
    text-align:center;
    max-width:700px;
    margin:auto;
}

.gradient-text{

    background:
    linear-gradient(
    90deg,
    #60a5fa,
    #8b5cf6,
    #ec4899
    );

    -webkit-background-clip:text;

    -webkit-text-fill-color:transparent;
}

.custom-navbar{

    background:
    rgba(15,23,42,0.7);

    backdrop-filter:blur(12px);

    border-bottom:
    1px solid rgba(255,255,255,0.1);
}

.footer{

    text-align:center;

    padding:40px;

    color:#94a3b8;

    margin-top:60px;
}